<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
</head>
<body>
    <!-- Google Login -->
    <div id="signInButton">
        <span class="g-signin"
            data-scope="openid email"
            data-clientid="608830178668-2mdo879m5gltao8eqa1s80bd52ot8d3m.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force"
            >

        </span>
    </div>
    <div id="result"></div>
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                // hide the signin button
                $('signInButton').attr('style', 'display:none');
                // send the one time use code to the server
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: authResult['code'],
                    success: function(result) {
                        if (result) {
                            $('#result').html('Login Successful!<br>' + result + '<br>redirecting...');
                            setTimeout(function() {
                                window.location.href = '/restaurant';
                            }, 4000);
                        }
                    }
                });
            } else if (authResult['error']) {
                console.log('Error during signin: ' + authResult['error']);
            } else {
                $('#result').html('Failed to make server side call. Check your configuration and console.');
            }
        }
    </script>

    <!-- FaceBook Login -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            appId            : '262265884484684',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v3.2'
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if(d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Respond to the onlogin event from the fb:login-button
        function sendTokenToServer() {
            var response = FB.getAuthResponse();
            console.log(response);
            var access_token = response['accessToken']
            console.log(access_token);

            FB.api('/me', function(response) {
                console.log('Successful login for: ' + response.name);
            });

            $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                data: access_token,
                contentType: 'text/plain',
                success: function(result) {
                    if (result) {
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting');
                        setTimeout(function(){
                            window.location.href = '/restaurant';
                        }, 4000);
                    } else {
                        $('#result').html('Failed to make server-side call. Check the console.');
                    }
                }
            });
        }
    </script>
    <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
    </fb:login-button>
</body>
</html>